<header class="header">
  <nav class="nav-container">
    <div class="nav-left">
      <a routerLink="/" class="logo-link">
        <img src="/assets/images/logo.png" alt="SUNA" class="logo-img" />
      </a>
      <span class="nav-subtitle hidden md:inline"
        >Cartelera del Sistema único de novedades de agentes</span
      >
    </div>

    <div class="nav-right">
      <a routerLink="/novedades" class="nav-link hidden sm:inline"
        >Manual SUNA</a
      >
      <a routerLink="/" class="nav-link hidden sm:inline">Normativas</a>
      <a routerLink="/login" class="admin-btn">
        <ng-icon hlm size="sm" name="lucideSettings"></ng-icon>
        <span class="hidden md:inline">Configuraciones</span>
      </a>
    </div>
  </nav>
</header>
